
 <div class = 'container'>

 		<div class = "row" id="home1">

				 <div class="col-2">
				 			<%= image_tag 'logo.png', :class => "index-logo" %>
				 </div>

				 <div class="col-7">

						  <h1> GIG LINK</h1>
						  <p>In this gig economy the number of freelancers are getting higher. We want to bring them and opportunities in a single platform. Here in gig link we make things easy and free.</p>
				</div>

				<div class="col-3">
						<p> Let's get started! </p>
							<a href="http://www.google.com" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Login</a>
							<a href="http://www.google.com" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Sign Up</a>
				 </div>

		</div>

</div>